---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Sobre Mi">
  <h1>Sobre mi</h1>

  <h2>Loren ipsum bla bla bla</h2>

  <p>test paragraph 1</p>

  <p>test paragraph 2</p>
</MainLayout>
