---
import "../layouts/MainLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={"Maximiliano"}>
  <body>
    <h1>Astro</h1>
    <h1>My astro site</h1>
  </body>
</MainLayout>
