<nav class="flex justify-center gap-3">
  <a
    class="bg-transparent hover:scale-125 ease-in duration-300 font-semibold text-white py-2 px-4 rounded-xl"
    href="/">Home</a
  >
  <a
    class="bg-transparent hover:scale-125 ease-in duration-300 font-semibold text-white py-2 px-4 rounded-xl"
    href="
    about
    ">About</a
  >
  <a
    class="bg-transparent hover:scale-125 ease-in duration-300 font-semibold text-white py-2 px-4 rounded-xl"
    href="projects">Projects</a
  >
  <a
    class="bg-transparent hover:scale-125 ease-in duration-300 font-semibold text-white py-2 px-4 rounded-xl"
    href="blog">Blog</a
  >
</nav>
